@page "/"

<PageTitle>Index</PageTitle>

<h1>Poi's Township Toolbox</h1>

Welcome to Poi's Township Toolbox
<br/>
Currently there is only the teleporter tool, more will be added in the future
<br/>
For suggestions/feedback contact me on discord: poiuytrewq4645

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
